<p-menubar [model]="items">
  <ng-template pTemplate="start">
    <img src="./assets/logo.png" height="40" width="70" class="mr-2" />
  </ng-template>
  
  <ng-template pTemplate="end">

    <a class="home-link" routerLink="/">Home</a>
    <button *ngIf="showLogin" class="login-btn" routerLink="/login">Login</button>
    <button *ngIf="showSignup" class="signup-btn" routerLink="/signup">Signup</button>
    <button *ngIf="loggedIn()" class="logout-btn" (click)="logout()">Logout</button>
  </ng-template>
</p-menubar>