.footer {
    background-color: #000;
    color: #fff;
    padding: 20px 0;
    text-align: center; /* Center-align the content */
  }
  
  .footer-content {
    display: flex;
    flex-direction: column; /* Display children elements in a column */
    align-items: center;
  }
  
  .company-logo img {
    max-width: 100px; /* Adjust the max-width as needed */
    margin-bottom: 10px; /* Add spacing between logo and icons */
  }
  
  .social-icons {
    margin-bottom: 10px; /* Add spacing between icons and tagline */
  }
  
  .social-icons a {
    color: #fff;
    margin-right: 10px;
  }
  
  .social-icons a:last-child {
    margin-right: 0;
  }
  
  .social-icons i {
    font-size: 24px;
  }
  
  .copyright {
    font-size: 14px;
  }
  