.card-deck {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .card {
    width: calc(33.33% - 10px); 
    margin-bottom: 20px;
  }
  
  @media (max-width: 992px) {
    .card {
      width: calc(50% - 10px); 
    }
  }
  
  @media (max-width: 576px) {
    .card {
      width: 100%;
    }
  }
  