<div class="center-container">
    <h2>Featured</h2>
</div>  
    <div class="card-deck">
      <div class="card" *ngFor="let event of eventData">
        <img class="card-img-top" src="./assets/sample4.jpg" alt="Card image cap" (click)="showEventDetail(event.event_id)">
        <div class="card-body">
          <h5 class="card-title">{{ event.event_name }}</h5>
          <p class="card-text">Location: {{ event.location }}</p>
          <p class="card-text">Date: {{ event.event_date }}</p>
          <button class="btn btn-primary btn-book">Book</button> <!-- Added button for booking -->
        </div>
      </div>
    </div>

  